<div class="gameData">
  <div class="row border-bottom text-left">
    <div class="col-6">Total in game:</div>
    <div class="col-6">{{noOfPplInGame}} people</div>
  </div>
  <div class="row border-bottom text-left">
    <div class="col-6">I'll be replacing:</div>
    <div class="col-6">{{seller}}</div>
  </div>
  <div class="row border-bottom text-left">
    <div class="col-6">Decide within:</div>
    <div class="col-6">{{hoursLeft}} hrs {{minutesLeftRefined}} mins</div>
  </div>
  <div class="row border-bottom text-left">
    <div class="col-6">I'll pay:</div>
    <div class="col-6">${{illPay}}</div>
  </div>
</div>

