<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-8 text-center">
      <h6>
        Sorry, this time slot just got booked.
      </h6>
      <br>

      <!--<h5>-->
        <!--check available time slots-->
      <!--</h5>-->

      <!--<button routerLink="/slots" class="btn btn-primary">Check other time slots</button>-->
      <button class="btn btn-primary" (click)="routeToSlots()">Check other time slots</button>


    </div>
  </div>

  <br>

</div>
<!--<div class="container text-center">-->
  <!--<div class="row justify-content-center">-->
    <!--<div class="col-8 text-center">-->
      <!--<form>-->
        <!--<div class="form-group col-md-auto">-->

          <!--<input type="text" id="inputPassword5" class="form-control" placeholder="Email or Phone Number" aria-describedby="nameHelpBlock">-->
          <!--<br>-->
          <!--<button routerLink="/rejectFormFilled" class="btn btn-primary">Submit</button>-->
        <!--</div>-->
      <!--</form>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
