<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-8 text-center">
      <h6>If your game gets enough people we will send you a text</h6>
      <form>
        <div class="form-group">
          <br>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter phone number">
          <small id="emailHelp" class="form-text text-muted">We'll never share your phone number with anyone else.</small>
        </div>
        <button class="btn btn-primary" (click)="phoneNumberSubmitted()">Next</button>
      </form>
    </div>
  </div>
</div>
