.confused {
  background-color: #F4991A;
  color: white;
}

h5 {
  text-align: left;
}

.gameData {
  font-size: 105%;
}

.col-7 {
  padding-top: 1%;
  padding-bottom: 1.5%;
}

.col-5 {
  padding-top: 1%;
  padding-bottom: 1.5%;
}



