<div class="container">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h4 class="sectionHeading">How it works</h4>
        <h5 class="steps">Step 1</h5>
        <p class="stepText">
          Pick an available <a routerLink="/slots">slot</a> and decide the minimum and maximum number of people you want
          for your game. Note: this request will be held until 24 hours before the slot's start time.
        </p>
        <h5 class="steps">Step 2</h5>
        <p class="stepText">
          Invite your friends by sharing your unique game link. Your friends have to give their credit/debit card before
          24+ hours before the slot's start time to be in the game, after which they can invite anyone else themselves.
        </p>

        <h5 class="steps">Done!</h5>

        <p class="stepText">
          24 hours before the slot's start time, if the minimum number of people (set in Step 1) got in the game,
          the rental is split equally and the slot is yours! If minimum people is not met, nobody gets charged a dime.
        </p>
        <h4 class="sectionHeading">FAQ</h4>
        <h5 class="question">What if not enough people get in the game?</h5>
        <p class="answer">
          The booking expires and nobody gets charged a dime.
        </p>
        <h5 class="question">What if I later learn that I can't make it?</h5>
        <p class="answer">
          You can hit the "sell my spot" button in your fulfilled games. This will generate a link that you or
          anyone else in the game can send to friends to replace you. If someone buys your spot 2+ hours
          before the game starts you don't get charged.
        </p>
        <h5 class="question">Why do I have to give my credit/debit card to get in the game?</h5>
        <p class="answer">
          So the rental can be split equally if the game gets enough people. This prevents the host from having to
          chase people for money, and prevents non-hosts from overpaying. If not enough people are in nobody gets
          charged a dime.
        </p>
      </div>
    </div>
  </div>
</div>
