<div class="container">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <button class="btn" (click)="listReservations()">list reservations</button>
        <button class="btn" (click)="countBookings()">count bookings in bookings col</button>
        <br>
        <h5 class="question">How do I flop out of a game?</h5>

        <p class="answer">
          By going to the game and pressing 'I want to sell my spot'. This sends an email to everyone in the game with a link to buy your spot so that they can copy/paste this link to their friends who can replace you
        </p>
        <h5 class="question">How hard is it to sell my spot?</h5>
        <p class="answer">
          Not hard as people who are going often have friends who want to get in the game.
        </p>

        <h5 class="question">When is the deadline to flop?</h5>
        <p class="answer">
          Someone must buy your spot 2 or more hours before the game starts. It's better to hit the "sell my spot" button earlier rather than later as everyone has more time to find you a replacement.
        </p>
        <h5 class="question">Do I have to pay if I flop?</h5>
        <p class="answer">
          If someone buys your spot, you don't pay anything. If nobody buys your spot then yes, you will be charged as it's unfair if the people who show up have to pay more per person
        </p>

        <button class="btn btn-secondary" (click)="back()">Back to Invite</button>

        <br>
        <br>
      </div>
    </div>
  </div>
</div>
