<div *ngIf="!gameClosed">
  <div class="inviteText">
    <p id="bookingInitatedText">Booking initiated</p>
    <p>When your friend opens the invite link, he'll see what's below the line, so no need to type out game info for him.</p>
  </div>

  <div class="container">
    <div class="shareButtonsDiv">
      <p id="sendLinkVia">Send your invite link via:</p>
      <button class="btn btn-secondary copyLinkButton" (click)="getShareLink()">Copy/pasting link</button>
      <button class="btn btn-secondary whatsappButton" (click)="shareWhatsapp()">Whatsapp</button>
      <!--<button class="btn btn-secondary messengerButton" (click)="shareMessenger()">Messenger</button>-->
    </div>
  </div>
  <hr id="yourFriendSeesBelowThisLine">
  <!--<br>-->
  <div id="whatYourFriendSees">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-12 text-left">
          <p></p>
          <h5>
            {{hostName}} has invited you to play ball
          </h5>
          <p></p>
        </div>
      </div>
    </div>
    <app-gym-name-and-pic></app-gym-name-and-pic>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-12 text-center gameData">
          <div class="row text-left font-weight-bold">
            <div class="col-7">Decide within:</div>
            <div class="col-5">
              <app-booking-expiry-timer></app-booking-expiry-timer>
            </div>
          </div>
          <div class="row text-left">
            <div class="col-7">Minimum needed:</div>
            <div class="col-5">{{minPplAllowed}} people</div>
          </div>
          <div class="row text-left">
            <div class="col-7">Maximum allowed:</div>
            <div class="col-5">{{maxPplAllowed}} people</div>
          </div>
          <div class="row text-left">
            <div class="col-7">I'll pay:</div>
            <div class="col-5">
              <app-user-pays-range></app-user-pays-range>
            </div>
          </div>

        </div>
      </div>
      <br>
      <div>
        <button type="button" style="margin-right: 1%;" class="btn btn-primary btn-lg" (click)="mixpanel('hostInviteOthersWhatYourFriendSeesImIn')">I'm in</button>
        <!--<button type="button" style="margin-left: 1%;" class="btn btn-secondary btn-lg" (click)="mixpanel('hostInviteOthersWhatYourFriendSeesImIn')">Can't</button>-->
      </div>
      <br>
      <app-who-else-int></app-who-else-int>
      <br>

    </div>
    <app-member-faq></app-member-faq>
  </div>
  <br>
</div>
<app-game-closed *ngIf="gameClosed"></app-game-closed>

